.feedback-list {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.feedback-piece {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    border-width: medium;
    border-style: solid;
}

.feedback-type-correct {
    border-color: forestgreen;
}

.feedback-type-incorrect {
    border-color: red;
}

.feedback-type-system-error {
    border-color: orange;
}

.feedback-type-unknown {
    border-color: lightblue;
}

.feedback-type-unparsed {
    border-color: lightgray;
}

.feedback-id {
    float: right;
    font-size: smaller;
}

.feedback-id::before {
    content: "#";
    font-size: smaller;
}

.feedback-date {
    float: right;
    font-size: smaller;
}

.feedback-nl {
    font-size: smaller;
}

.feedback-nl::before {
    content: "NL: ";
}

.feedback-sys::before {
    content: "Sys: ";
}

.feedback-corr::before {
    content: "Cor: ";
}

.highlight-replace {
    background-color: lightblue;
}

.highlight-delete {
    background-color: red;
}

.highlight-insert {
    background-color: forestgreen;
}

.feedback-export-form {
    padding: 1em;
}

.add-child-div {
    font-size: smaller;
}
