.feedback-piece {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-width: medium;
    border-style: solid;
}

.feedback-type-correct {
    border-color: forestgreen;
}

.feedback-type-incorrect {
    border-color: red;;
}

.feedback-type-system-error {
    border-color: orange;;
}

.feedback-type-unknown {
    border-color: lightblue;;
}

.feedback-nl {
    font-size: smaller;
}

.feedback-nl::before {
    content: "NL: "
}

.feedback-sys::before {
    content: "Sys: "
}

.feedback-corr::before {
    content: "Cor: "
}

.highlight-replace {
    background-color: lightblue;
}

.highlight-delete {
    background-color: red;
}

.highlight-insert {
    background-color: forestgreen;
}
