.map {
    height: 400px;
    width: 100%;
}
.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}

#adjust-form-wrapper {
    margin-bottom: 1em;
    margin-top: 1em;
}

.query-features-fieldset {
    margin: 0.5em;
}

.nwr-super-field-group {
    display: flex;
    flex-direction: column;
    border-color: lightblue;
    border-style: solid;
    border-width: thin;
    padding: 0.3em;
    margin: 0.3em;
}

.nwr-super-field-field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.remove-nwr-super-field-field {
    color: red;
}

#mrl-edit-help-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.mrl-edit-help {
    border: solid 1pt #ccc;
    margin: 0.5em;
    padding: 0.5em;
}

.mrl-edit-help-title {
    font-size: smaller;
}

.mrl-edit-help-tag-finder-tag-container {
    display: flex;
    flex-direction: horizontal;
    padding: 0;
    margin: 0.2em;
    border: solid 1pt #ccc;
}

.mrl-edit-help-tag-finder-tag-text {
    padding: 0.1em;
    list-style: none;
}

.mrl-edit-help-tag-finder-tag-img {
    padding: 0.1em;
}

.mrl-edit-help-tag-finder-tag-img img{
    max-width: 100%;
    height: auto;
    width: auto;
}

.mrl-edit-help-custom-suggestions {
    border: solid 2pt #fc0;
}

.mrl-edit-help-custom-suggestion {
    padding: 0.1em;
    margin: 0.2em;
    border: solid 1pt #ccc;
    list-style: none;
}

.taginfo {
    padding: 0;
    margin: 0.2em;
    border: solid 1pt #ccc;
}

.tag-usage-abundant {
    color: green;
}

.tag-usage-common {
    color: green;
}

.tag-usage-rare {
    color: orange;
}

.tag-usage-virtually-unused {
    color: red;
}

.tag-usage-unused {
    color: red;
}
