include nlmaps_web/data/areas.txt
include nlmaps_web/data/most_common_tags.json
include nlmaps_web/data/pois.txt
include nlmaps_web/data/stopwords.txt
include nlmaps_web/data/suggestions.json
include nlmaps_web/data/tf_idf_pipeline.pickle
