<p>With the second type of distance query we can ask for the distance between two named things.</p>

<div class="task">
    <ol>
        <li>Ask the question below.</li>
        <li>Correct errors and send feedback. Pay attention to the question class.</li>
    </ol>
    <div class="example example-green">
        <p class="nl-prefixed">Tell me the distance between Empire State Building in New York City and Bratislavský hrad</p>
    </div>
    {% if completed %}
    <p>✔ Completed.</p>
    <div class="example">
        <p class="mrl-prefixed">dist(query(area(keyval('name','New York City')),nwr(keyval('name','Empire State Building')),qtype(latlong)),query(nwr(keyval('name','Bratislavský hrad')),qtype(latlong)))</p>
    </div>
    {% else %}
    <p>❌ Not completed yet.</p>
    {% endif %}
</div>
