{% extends 'base.html' %}

{% set page = 'delete_account' %}

{% block content %}
<div class="row block">
    <div class="block-header">
        <span class="block-title">Delete Account</span>
    </div>
    <div class="block-body">
        <p>Please enter your password to confirm that you want to <strong>permanently</strong> delete your
        account.</p>
        <form class="form-grid" method="post">
            {{ form.hidden_tag() }}
            {{ form.password.label }}{{ form.password(size=30) }}
            <input type="submit" value="Delete Account">
        </form>
    </div>
</div>
{% endblock %}
