{% macro js(static_path) %}
{% if static_path|asset_exists %}
<script src="{{ url_for('static', filename=static_path) }}" type="text/javascript"></script>
{% endif %}
{% endmacro %}

{% macro css(static_path) %}
{% if static_path|asset_exists %}
<link href="{{ url_for('static', filename=static_path) }}" rel="stylesheet"  type="text/css">
{% endif %}
{% endmacro %}


{% macro flashed_message(message, css_class='bg-success') %}
<div class="flashed-message {{ css_class }}">
    <span class="flashed-message-content">{{ message }}</span>
    <button class="flashed-message-remove-button" onclick="this.parentElement.remove()">✖</button>
</div>
{% endmacro %}
