{% extends 'base.html' %}

{% set page = 'available_tags' %}

{% block content %}
<h2>Available Tags</h2>

<ul>
    <li><a href="https://wiki.openstreetmap.org/Tag:Schalansky_ref=*">Schalansky_ref=*</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:abandoned:tourism=theme_park">abandoned:tourism=theme_park</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:addr:city=Neuler">addr:city=Neuler</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:addr:street=Sternstraße">addr:street=Sternstraße</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:addr:street=Wördenmoorweg">addr:street=Wördenmoorweg</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:advertising=column">advertising=column</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:aerialway=zip_line">aerialway=zip_line</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:aerodrome=international">aerodrome=international</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:aeroway=aerodrome">aeroway=aerodrome</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:aeroway=helipad">aeroway=helipad</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=*">amenity=*</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=animal_boarding">amenity=animal_boarding</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=animal_shelter">amenity=animal_shelter</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=arts_centre">amenity=arts_centre</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=atm">amenity=atm</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=auditorium">amenity=auditorium</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=bank">amenity=bank</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=bar">amenity=bar</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=bbq">amenity=bbq</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=bench">amenity=bench</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=bicycle_parking">amenity=bicycle_parking</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=bicycle_rental">amenity=bicycle_rental</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=brothel">amenity=brothel</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=bureau_de_change">amenity=bureau_de_change</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=bus_station">amenity=bus_station</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=cafe">amenity=cafe</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=car_rental">amenity=car_rental</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=car_sharing">amenity=car_sharing</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=car_wash">amenity=car_wash</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=casino">amenity=casino</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=charging_station">amenity=charging_station</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=cinema">amenity=cinema</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=clinic">amenity=clinic</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=club">amenity=club</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=college">amenity=college</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=community_centre">amenity=community_centre</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=conference_centre">amenity=conference_centre</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=courthouse">amenity=courthouse</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=crematorium">amenity=crematorium</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=dentist">amenity=dentist</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=doctors">amenity=doctors</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=dojo">amenity=dojo</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=dormitory">amenity=dormitory</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=drinking_water">amenity=drinking_water</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=driving_school">amenity=driving_school</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=embassy">amenity=embassy</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=emergency_phone">amenity=emergency_phone</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=exhibition_center">amenity=exhibition_center</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=fast_food">amenity=fast_food</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=ferry_terminal">amenity=ferry_terminal</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=fire_hydrant">amenity=fire_hydrant</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=fire_station">amenity=fire_station</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=fountain">amenity=fountain</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=fuel">amenity=fuel</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=grave_yard">amenity=grave_yard</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=gym">amenity=gym</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=hall">amenity=hall</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=health_centre">amenity=health_centre</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=hospital">amenity=hospital</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=hotel">amenity=hotel</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=hunting_stand">amenity=hunting_stand</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=ice_cream">amenity=ice_cream</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=kindergarten">amenity=kindergarten</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=kneipp_water_cure">amenity=kneipp_water_cure</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=library">amenity=library</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=market">amenity=market</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=marketplace">amenity=marketplace</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=mountain_rescue">amenity=mountain_rescue</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=nightclub">amenity=nightclub</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=nursery">amenity=nursery</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=nursing_home">amenity=nursing_home</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=office">amenity=office</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=park">amenity=park</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=parking">amenity=parking</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=pharmacy">amenity=pharmacy</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=place_of_worship">amenity=place_of_worship</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=planetarium">amenity=planetarium</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=playground">amenity=playground</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=police">amenity=police</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=post_box">amenity=post_box</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=post_office">amenity=post_office</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=preschool">amenity=preschool</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=prison">amenity=prison</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=pub">amenity=pub</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=public_bookcase">amenity=public_bookcase</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=public_building">amenity=public_building</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=public_market">amenity=public_market</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=reception_area">amenity=reception_area</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=recycling">amenity=recycling</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=restaurant">amenity=restaurant</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=retirement_home">amenity=retirement_home</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=sauna">amenity=sauna</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=school">amenity=school</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=shelter">amenity=shelter</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=shop">amenity=shop</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=shopping">amenity=shopping</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=social_club">amenity=social_club</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=studio">amenity=studio</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=supermarket">amenity=supermarket</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=swingerclub">amenity=swingerclub</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=taxi">amenity=taxi</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=telephone">amenity=telephone</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=theatre">amenity=theatre</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=toilets">amenity=toilets</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=townhall">amenity=townhall</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=university">amenity=university</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=vending_machine">amenity=vending_machine</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=veterinary">amenity=veterinary</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=village_hall">amenity=village_hall</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=waste_basket">amenity=waste_basket</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=wifi">amenity=wifi</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:amenity=youth_centre">amenity=youth_centre</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:artwork:group=berlin_bears">artwork:group=berlin_bears</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:artwork_type=mural">artwork_type=mural</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:atm=yes">atm=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:bicycle_parking=lockers">bicycle_parking=lockers</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:brand=Esso">brand=Esso</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:brand=Jet">brand=Jet</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:bridge=*">bridge=*</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:bridge=viaduct">bridge=viaduct</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:bridge=yes">bridge=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=apartments">building=apartments</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=block">building=block</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=brewery">building=brewery</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=bunker">building=bunker</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=cathedral">building=cathedral</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=chapel">building=chapel</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=church">building=church</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=city_hall">building=city_hall</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=commercial">building=commercial</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=dormitory">building=dormitory</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=entrance">building=entrance</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=faculty">building=faculty</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=farm">building=farm</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=flats">building=flats</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=garage">building=garage</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=greenhouse">building=greenhouse</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=hall">building=hall</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=hospital">building=hospital</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=hotel">building=hotel</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=house">building=house</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=industrial">building=industrial</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=office">building=office</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=planned">building=planned</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=public">building=public</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=residential">building=residential</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=retail">building=retail</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=school">building=school</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=shop">building=shop</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=stadium">building=stadium</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=store">building=store</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=terrace">building=terrace</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=tower">building=tower</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=train_station">building=train_station</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=university">building=university</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:building=yes">building=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:communication:mobile_phone=yes">communication:mobile_phone=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:covered=yes">covered=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:craft=*">craft=*</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:craft=brewery">craft=brewery</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:craft=distillery">craft=distillery</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:craft=electrician">craft=electrician</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:craft=key_cutter">craft=key_cutter</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:craft=shoemaker">craft=shoemaker</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:craft=tailor">craft=tailor</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=african">cuisine=african</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=asian">cuisine=asian</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=british">cuisine=british</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=burger">cuisine=burger</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=fish_and_chips">cuisine=fish_and_chips</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=french">cuisine=french</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=greek">cuisine=greek</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=ice_cream">cuisine=ice_cream</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=indian">cuisine=indian</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=italian">cuisine=italian</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=japanese">cuisine=japanese</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=pizza">cuisine=pizza</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=sandwich">cuisine=sandwich</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=seafood">cuisine=seafood</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:cuisine=vegetarian">cuisine=vegetarian</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:denomination=catholic">denomination=catholic</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:denomination=church_of_scotland">denomination=church_of_scotland</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:denomination=protestant">denomination=protestant</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:emergency=ambulance_station">emergency=ambulance_station</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:emergency=defibrillator">emergency=defibrillator</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:emergency=fire_hydrant">emergency=fire_hydrant</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:emergency=phone">emergency=phone</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:fire_hydrant:type=underground">fire_hydrant:type=underground</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:fuel:diesel=yes">fuel:diesel=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:generator:source=wind">generator:source=wind</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:hazard=minefield">hazard=minefield</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=*">highway=*</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=bridleway">highway=bridleway</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=bus_guideway">highway=bus_guideway</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=bus_stop">highway=bus_stop</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=byway">highway=byway</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=construction">highway=construction</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=cycleway">highway=cycleway</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=distance_marker">highway=distance_marker</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=emergency_access_point">highway=emergency_access_point</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=footway">highway=footway</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=ford">highway=ford</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=gate">highway=gate</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=living_street">highway=living_street</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=minor">highway=minor</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=motorway">highway=motorway</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=motorway_junction">highway=motorway_junction</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=motorway_link">highway=motorway_link</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=path">highway=path</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=pedestrian">highway=pedestrian</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=platform">highway=platform</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=primary">highway=primary</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=primary_link">highway=primary_link</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=raceway">highway=raceway</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=residential">highway=residential</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=road">highway=road</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=secondary">highway=secondary</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=secondary_link">highway=secondary_link</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=service">highway=service</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=services">highway=services</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=speed_camera">highway=speed_camera</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=steps">highway=steps</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=stile">highway=stile</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=tertiary">highway=tertiary</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=track">highway=track</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=traffic_signals">highway=traffic_signals</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=trail">highway=trail</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=trunk">highway=trunk</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=trunk_link">highway=trunk_link</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=unclassified">highway=unclassified</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:highway=unsurfaced">highway=unsurfaced</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:hiking=yes">hiking=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=*">historic=*</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=archaeological_site">historic=archaeological_site</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=battlefield">historic=battlefield</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=boundary_stone">historic=boundary_stone</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=building">historic=building</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=castle">historic=castle</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=church">historic=church</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=house">historic=house</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=icon">historic=icon</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=manor">historic=manor</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=memorial">historic=memorial</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=mine">historic=mine</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=monument">historic=monument</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=museum">historic=museum</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=ruins">historic=ruins</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=tomb">historic=tomb</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=tower">historic=tower</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=wayside_cross">historic=wayside_cross</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=wayside_shrine">historic=wayside_shrine</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:historic=wreck">historic=wreck</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:information=map">information=map</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:inscription=*">inscription=*</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:internet_access=wlan">internet_access=wlan</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:junction=roundabout">junction=roundabout</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=*">landuse=*</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=allotments">landuse=allotments</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=basin">landuse=basin</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=brownfield">landuse=brownfield</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=cemetery">landuse=cemetery</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=commercial">landuse=commercial</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=conservation">landuse=conservation</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=construction">landuse=construction</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=farm">landuse=farm</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=farmland">landuse=farmland</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=farmyard">landuse=farmyard</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=forest">landuse=forest</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=grass">landuse=grass</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=greenfield">landuse=greenfield</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=harbour">landuse=harbour</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=industrial">landuse=industrial</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=landfill">landuse=landfill</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=meadow">landuse=meadow</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=military">landuse=military</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=mine">landuse=mine</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=mountain">landuse=mountain</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=nature_reserve">landuse=nature_reserve</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=park">landuse=park</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=piste">landuse=piste</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=plaza">landuse=plaza</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=quarry">landuse=quarry</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=railway">landuse=railway</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=recreation_ground">landuse=recreation_ground</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=reservoir">landuse=reservoir</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=residential">landuse=residential</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=retail">landuse=retail</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=village_green">landuse=village_green</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=vineyard">landuse=vineyard</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=wetland">landuse=wetland</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:landuse=wood">landuse=wood</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=*">leisure=*</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=beach_resort">leisure=beach_resort</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=common">leisure=common</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=fishing">leisure=fishing</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=garden">leisure=garden</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=golf_course">leisure=golf_course</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=hackerspace">leisure=hackerspace</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=ice_rink">leisure=ice_rink</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=marina">leisure=marina</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=miniature_golf">leisure=miniature_golf</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=nature_reserve">leisure=nature_reserve</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=park">leisure=park</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=pitch">leisure=pitch</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=playground">leisure=playground</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=recreation_ground">leisure=recreation_ground</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=slipway">leisure=slipway</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=sports_centre">leisure=sports_centre</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=stadium">leisure=stadium</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=swimming_pool">leisure=swimming_pool</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=track">leisure=track</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:leisure=water_park">leisure=water_park</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:man_made=pier">man_made=pier</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:man_made=water_tower">man_made=water_tower</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:man_made=water_well">man_made=water_well</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:man_made=windmill">man_made=windmill</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:memorial:type=stolperstein">memorial:type=stolperstein</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:monitoring:bicycle=yes">monitoring:bicycle=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=bay">natural=bay</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=beach">natural=beach</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=cape">natural=cape</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=cave_entrance">natural=cave_entrance</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=channel">natural=channel</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=cliff">natural=cliff</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=coastline">natural=coastline</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=crater">natural=crater</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=feature">natural=feature</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=fell">natural=fell</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=fjord">natural=fjord</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=geyser">natural=geyser</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=glacier">natural=glacier</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=heath">natural=heath</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=hill">natural=hill</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=island">natural=island</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=land">natural=land</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=marsh">natural=marsh</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=moor">natural=moor</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=mud">natural=mud</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=peak">natural=peak</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=point">natural=point</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=reef">natural=reef</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=ridge">natural=ridge</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=river">natural=river</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=rock">natural=rock</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=scree">natural=scree</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=scrub">natural=scrub</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=shoal">natural=shoal</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=spring">natural=spring</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=strait">natural=strait</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=tree">natural=tree</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=valley">natural=valley</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=volcano">natural=volcano</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=water">natural=water</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=wetland">natural=wetland</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=wetlands">natural=wetlands</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:natural=wood">natural=wood</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:oneway=yes">oneway=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:opening_hours=24/7">opening_hours=24/7</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:operator=Accor">operator=Accor</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:operator=Apex Hotels">operator=Apex Hotels</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:operator=Mercedes">operator=Mercedes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:operator=O2">operator=O2</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:operator=Renault">operator=Renault</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:operator=Südwestrundfunk (SWR)">operator=Südwestrundfunk (SWR)</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:organic=only">organic=only</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:organic=yes">organic=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:parking=underground">parking=underground</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:parking=yes">parking=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=city">place=city</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=country">place=country</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=county">place=county</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=farm">place=farm</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=hamlet">place=hamlet</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=house">place=house</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=houses">place=houses</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=island">place=island</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=islet">place=islet</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=locality">place=locality</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=moor">place=moor</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=municipality">place=municipality</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=postcode">place=postcode</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=region">place=region</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=sea">place=sea</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=state">place=state</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=subdivision">place=subdivision</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=suburb">place=suburb</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=town">place=town</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=unincorporated_area">place=unincorporated_area</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:place=village">place=village</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=abandoned">railway=abandoned</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=construction">railway=construction</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=disused">railway=disused</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=disused_station">railway=disused_station</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=funicular">railway=funicular</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=halt">railway=halt</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=historic_station">railway=historic_station</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=junction">railway=junction</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=level_crossing">railway=level_crossing</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=light_rail">railway=light_rail</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=monorail">railway=monorail</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=narrow_gauge">railway=narrow_gauge</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=platform">railway=platform</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=preserved">railway=preserved</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=spur">railway=spur</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=station">railway=station</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=subway">railway=subway</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=subway_entrance">railway=subway_entrance</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=switch">railway=switch</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=tram">railway=tram</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=tram_stop">railway=tram_stop</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:railway=yard">railway=yard</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:recycling:clothes=yes">recycling:clothes=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:recycling:glass=yes">recycling:glass=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:ref=A 5">ref=A 5</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:ref=M8">ref=M8</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:religion=buddhist">religion=buddhist</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:religion=christian">religion=christian</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:religion=muslim">religion=muslim</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:ruins=yes">ruins=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:second_hand=only">second_hand=only</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=*">shop=*</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=alcohol">shop=alcohol</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=apparel">shop=apparel</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=art">shop=art</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=bakery">shop=bakery</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=beauty">shop=beauty</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=beverages">shop=beverages</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=bicycle">shop=bicycle</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=books">shop=books</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=butcher">shop=butcher</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=car">shop=car</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=car_dealer">shop=car_dealer</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=car_parts">shop=car_parts</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=car_repair">shop=car_repair</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=carpet">shop=carpet</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=charity">shop=charity</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=chemist">shop=chemist</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=clothes">shop=clothes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=computer">shop=computer</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=confectionery">shop=confectionery</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=convenience">shop=convenience</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=copyshop">shop=copyshop</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=cosmetics">shop=cosmetics</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=department_store">shop=department_store</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=discount">shop=discount</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=doityourself">shop=doityourself</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=drugstore">shop=drugstore</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=dry_cleaning">shop=dry_cleaning</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=electronics">shop=electronics</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=estate_agent">shop=estate_agent</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=farm">shop=farm</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=fashion">shop=fashion</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=fish">shop=fish</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=florist">shop=florist</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=food">shop=food</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=funeral_directors">shop=funeral_directors</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=furniture">shop=furniture</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=gallery">shop=gallery</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=garden_centre">shop=garden_centre</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=general">shop=general</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=gift">shop=gift</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=greengrocer">shop=greengrocer</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=grocery">shop=grocery</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=hairdresser">shop=hairdresser</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=hardware">shop=hardware</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=hifi">shop=hifi</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=insurance">shop=insurance</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=jewelry">shop=jewelry</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=kiosk">shop=kiosk</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=laundry">shop=laundry</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=mall">shop=mall</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=market">shop=market</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=mobile_phone">shop=mobile_phone</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=motorcycle">shop=motorcycle</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=music">shop=music</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=newsagent">shop=newsagent</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=optician">shop=optician</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=organic">shop=organic</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=outdoor">shop=outdoor</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=pet">shop=pet</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=photo">shop=photo</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=salon">shop=salon</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=scuba_diving">shop=scuba_diving</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=seafood">shop=seafood</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=shoes">shop=shoes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=shopping_centre">shop=shopping_centre</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=sports">shop=sports</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=stationery">shop=stationery</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=supermarket">shop=supermarket</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=toys">shop=toys</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=travel_agency">shop=travel_agency</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=video">shop=video</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:shop=wine">shop=wine</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:site_type=megalith">site_type=megalith</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:site_type=temple">site_type=temple</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:smoking=no">smoking=no</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:smoking=yes">smoking=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:social_facility:for=migrant">social_facility:for=migrant</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:sport=american_football">sport=american_football</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:sport=badminton">sport=badminton</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:sport=basketball">sport=basketball</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:sport=bmx">sport=bmx</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:sport=climbing">sport=climbing</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:sport=cricket">sport=cricket</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:sport=martial_arts">sport=martial_arts</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:sport=rowing">sport=rowing</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:sport=rugby">sport=rugby</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:sport=skateboard">sport=skateboard</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:sport=soccer">sport=soccer</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:sport=swimming">sport=swimming</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:sport=table_tennis">sport=table_tennis</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:sport=tennis">sport=tennis</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:stars=3">stars=3</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:stars=4">stars=4</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:station=subway">station=subway</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=*">tourism=*</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=alpine_hut">tourism=alpine_hut</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=artwork">tourism=artwork</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=attraction">tourism=attraction</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=bed_and_breakfast">tourism=bed_and_breakfast</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=cabin">tourism=cabin</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=camp_site">tourism=camp_site</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=caravan_site">tourism=caravan_site</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=chalet">tourism=chalet</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=guest_house">tourism=guest_house</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=hostel">tourism=hostel</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=hotel">tourism=hotel</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=information">tourism=information</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=lean_to">tourism=lean_to</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=motel">tourism=motel</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=museum">tourism=museum</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=picnic_site">tourism=picnic_site</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=theme_park">tourism=theme_park</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=valley">tourism=valley</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=viewpoint">tourism=viewpoint</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tourism=zoo">tourism=zoo</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:tower:type=communication">tower:type=communication</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=boatyard">waterway=boatyard</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=canal">waterway=canal</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=connector">waterway=connector</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=dam">waterway=dam</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=derelict_canal">waterway=derelict_canal</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=ditch">waterway=ditch</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=dock">waterway=dock</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=drain">waterway=drain</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=lock">waterway=lock</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=lock_gate">waterway=lock_gate</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=mineral_spring">waterway=mineral_spring</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=mooring">waterway=mooring</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=rapids">waterway=rapids</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=river">waterway=river</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=riverbank">waterway=riverbank</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=stream">waterway=stream</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=wadi">waterway=wadi</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=water_point">waterway=water_point</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=waterfall">waterway=waterfall</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:waterway=weir">waterway=weir</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:wheelchair=yes">wheelchair=yes</a></li>
    <li><a href="https://wiki.openstreetmap.org/Tag:wifi=free">wifi=free</a></li>
</ul>
{% endblock %}
