{% import "_macros.html" as M %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}

        {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        {% if current_user.is_authenticated %}
        <meta name="username" content="{{ current_user.name }}">
        {% endif %}
        {% endblock %}

        {#- Page title #}
        <title>{% block title %}{% if page is defined %}NLMaps Web | {{ page | replace('_', ' ') | title }}{% endif %}{% endblock %}</title>

        {#- Base style #}
        {% block base_style %}
        {{ M.css('css/base.css') }}
        {% endblock %}

        {#- Base scripts #}
        {% block base_scripts %}
        {{ M.js('js/base.js') }}
        {{ M.js('js/nwr.js') }}
        {% endblock %}

        {#- Page-specific style #}
        {% block page_style %}
        {{ M.css('css/' + page + '.css') }}
        {% endblock %}

        {#- Page-specific scripts #}
        {% block page_scripts %}
        {{ M.js('js/' + page + '.js') }}
        {% endblock %}

        {#- Way to add additional content to head #}
        {% block additional_head %}{% endblock %}

        {% endblock %}
    </head>
    <body>
        {#- Header #}

        {% block header %}
        <div id="header">
            <h1>NLMaps Web</h1>
            <nav class="top-nav" id="main-nav">
                <a class="nav-element" href="{{ url_for('query') }}">Query</a>
                <a class="nav-element" href="{{ url_for('tutorial') }}">Tutorial</a>
                {% if current_user.is_authenticated %}
                <a class="nav-element" href="{{ url_for('list_feedback') }}">Feedback List</a>
                <a class="nav-element" href="{{ url_for('logout') }}">Log Out</a>
                <span class="nav-element">👤 <a href="{{ url_for('profile') }}">{{ current_user.name }}</a></span>
                {% else %}
                <a class="nav-element" href="{{ url_for('login') }}">Log In</a>
                <a class="nav-element" href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </nav>
            {% if current_user.admin %}
            <nav class="top-nav" id="admin-nav">
                <a class="nav-element" href="{{ url_for('train') }}">Train Status</a>
                <a class="nav-element" href="{{ url_for('validations') }}">Validations</a>
                <a class="nav-element" href="{{ url_for('parse_logs') }}">Logs</a>
                <a class="nav-element" href="{{ url_for('tutorial_feedback') }}">Tutorial Feedback</a>
                <a class="nav-element" href="{{ url_for('list_users') }}">Users</a>
                <span class="nav-element">⚙ Admin</span>
            </nav>
            {% endif %}
            {% if current_user.annotation_mode %}
            <nav class="top-nav" id="annotation-nav">
                <a class="nav-element" href="{{ url_for('annotation_progress') }}">Progress</a>
                <a class="nav-element" href="{{ url_for('faq') }}">FAQ</a>
                <a class="nav-element" href="{{ url_for('guidelines') }}">Guidelines</a>
                <span class="nav-element">✍ Annotator</span>
            </nav>
            {% endif %}
        </div>
        {% endblock %}

        {#- Main Wrapper #}
        <div id="wrapper">
            <div id="flash-container">
                {% for category, message in get_flashed_messages(with_categories=true) %}
                {{ M.flashed_message(message, 'bg-danger' if category == 'error' else 'bg-success') }}
                {% endfor %}
            </div>
            {% block main %}
            {% block content %}{% endblock %}
            {% endblock %}
        </div>
        <div id="footer">
            <nav id="footer-nav">
                <a href="{{ url_for('legal_notice') }}">Legal Notice</a>
                <a href="{{ url_for('terms') }}">Terms of Service</a>
                <a href="{{ url_for('contributors') }}">Contributors</a>
            </nav>
        </div>
    </body>
</html>
