<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}

        {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        {% endblock %}

        {#- Page title #}
        <title>{% block title %}{% if page is defined %}{{ page | replace('_', ' ') | title }}{% endif %}{% endblock %}</title>

        {#- Favicon #}
        {% block favicon %}<link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='img/favicon.ico') }}" />{% endblock %}

        {#- Base style #}
        {% block base_style %}
        <link href="http://localhost:5000/static/css/base.css" rel="stylesheet" type="text/css">
        {% endblock %}

        {#- Base scripts #}
        {% block base_scripts %}
        <script src="http://localhost:5000/static/js/base.js" type="text/javascript"></script>
        <script src="http://localhost:5000/static/js/nwr.js" type="text/javascript"></script>
        {% endblock %}

        {#- Page-specific style #}
        {% block page_style %}
        <link href="http://localhost:5000/static/css/{{ page }}.css" rel="stylesheet" type="text/css">
        {% endblock %}

        {#- Page-specific scripts #}
        {% block page_scripts %}
        <script src="http://localhost:5000/static/js/{{ page }}.js" type="text/javascript"></script>
        {% endblock %}

        {#- Way to add additional content to head #}
        {% block additional_head %}{% endblock %}

        {% endblock %}
    </head>
    <body>
        {#- Header #}

        {% block header %}
        <div id="header">
            <h1>NLMaps Web</h1>
            <nav id="main-nav">
                <a class="nav-element" href="{{ url_for('query') }}">Query</a>
                <a class="nav-element" href="{{ url_for('list_feedback') }}">Feedback List</a>
                {% if current_user.admin %}
                <a class="nav-element" href="{{ url_for('train') }}">Train Status</a>
                {% endif %}
                {% if current_user.is_anonymous %}
                <a class="nav-element" href="{{ url_for('login') }}">Log In</a>
                {% else %}
                <a class="nav-element" href="{{ url_for('logout') }}">Log Out</a>
                <span>👤 {{ current_user.name }}</span>
                {% endif %}
            </nav>
        </div>
        {% endblock %}

        {#- Main Wrapper #}
        <div id="wrapper">
            <div id="flash-container"></div>
            {% block main %}
            {% block content %}{% endblock %}
            {% endblock %}
        </div>
    </body>
</html>
