{% extends 'base.html' %}

{% set page = 'change_password' %}

{% block content %}
<div class="row block">
    <div class="block-header">
        <span class="block-title">Change Password</span>
    </div>
    <div class="block-body">
        <form class="form-grid" method="post">
            {{ form.hidden_tag() }}
            {{ form.old_password.label }}{{ form.old_password(size=30) }}
            {{ form.password.label }}{{ form.password(size=30) }}
            {{ form.password2.label }}{{ form.password2(size=30) }}
            <input type="submit" value="Change Password">
        </form>
    </div>
</div>
{% endblock %}
