{% extends 'base.html' %}

{% set page = 'osm_tags' %}

{% block content %}
<div class="row block">
    <div class="block-header">
        <span class="block-title">Legal Notice</span>
    </div>
    <div class="block-body">
        <h3>Responsible for the Website</h3>

        <p>Simon Will</p>
        <p>Berliner Straße 109A<br>69121 Heidelberg<br>Germany</p>

        <h3>Contact</h3>

        <p><a href="mailto:nlmapsweb@nlmaps.gorgor.de">nlmapsweb@nlmaps.gorgor.de</a></p>
    </div>
</div>
{% endblock %}
