{% extends 'base.html' %}

{% set page = 'feedback' %}

{% block content %}
<div class="row block">
    <div class="block-header">
        <span class="block-title">Select Feedback</span>
    </div>
    <div class="block-body">
        <form class="form-grid" method="GET" action="{{ url_for('list_feedback') }}">
            {% if feedback_list_form.user %}
            {{ feedback_list_form.user.label }}{{ feedback_list_form.user() }}
            {% endif %}
            {{ feedback_list_form.model.label }}{{ feedback_list_form.model() }}
            {{ feedback_list_form.page.label }}{{ feedback_list_form.page() }}
            <input type="submit" value="Show Feedback">
        </form>
    </div>
</div>

<div class="row block">
    <div class="block-header">
        <span class="block-title">Export Feedback</span>
    </div>
    <div class="block-body">
        <form class="form-grid" method="GET" action="{{ url_for('export_feedback') }}">
            {% if feedback_list_form.user %}
            {{ feedback_list_form.user.label }}{{ feedback_list_form.user() }}
            {% endif %}
            <input type="submit" value="Export Feedback">
        </form>
    </div>
</div>

{% if current_user.admin %}
<div class="row block">
    <div class="block-header">
        <span class="block-title">Start Training</span>
    </div>
    <div class="block-body">
        <form class="form-grid" method="POST" action="{{ url_for('train') }}">
            {{ feedback_list_form.hidden_tag() }}
            {{ feedback_list_form.model.label }}{{ feedback_list_form.model() }}
            <input type="submit" value="Train">
        </form>
    </div>
</div>
{% endif %}

{% if unparsed_queries %}
<div class="row block">
    <div class="block-header">
        <span class="block-title">Unparsed Queries</span>
    </div>
    <div class="block-body">
        <p>There are {{ unparsed_queries }} unparsed queries.</p>
        <button id="parse-unparsed" data-model="{{ model }}">Parse now.</button>
    </div>
</div>
{% endif %}

{% if model %}
<p>Sys parses by model: <span class="model-name">{{ model }}</span></p>
{% else %}
<p>Sys parses from feedback creation time</p>
{% endif %}

{% if prev_url or next_url%}
<div class="row block">
    <div class="block-header">
        <span class="block-title">List Controls</span>
    </div>
    <div class="block-body">
        <nav class="container-horizontal-flex page-nav">
            {% if prev_url %}
            <a href="{{ prev_url }}">Previous</a>
            {% endif %}
            {% if next_url %}
            <a href="{{ next_url }}">Next</a>
            {% endif %}
        </nav>
    </div>
</div>
{% endif %}

{% for piece in feedback %}
<div class="row block">
    <div class="block-header">
        <span class="block-title">{{ piece.nl }}</span>
    </div>
    <div class="block-body">
        <div class="container-vertical-flex feedback-list">
            <div class="feedback-piece feedback-type-{{ piece.get_type(model=model) }}" data-opcodes="{{ piece.get_opcodes(model=model) }}">
                <p class="feedback-id"><a href="{{ url_for('feedback_piece', id=piece.id) }}">{{ piece.id }}</a></p>
                <p class="feedback-nl">{{ piece.nl }}</p>
                <p class="feedback-sys mrl">{{ piece.model_mrl if model else piece.original_mrl }}</p>
                <p class="feedback-corr mrl">{{ piece.correct_mrl }}</p>
            </div>
            {% for child in piece.children %}
            <div class="feedback-piece feedback-type-{{ child.get_type(model=model) }}" data-opcodes="{{ child.get_opcodes(model=model) }}">
                <p class="feedback-id"><a href="{{ url_for('feedback_piece', id=child.id) }}">{{ child.id }}</a></p>
                <p class="feedback-nl">{{ child.nl }}</p>
                <p class="feedback-sys mrl">{{ child.model_mrl if model else child.original_mrl }}</p>
                <p class="feedback-corr mrl">{{ child.correct_mrl }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
