{% extends 'base.html' %}

{% set page = 'feedback' %}

{% block content %}
<form class="row form-grid" method="GET" action="{{ url_for('list_feedback') }}">
    {% if parsing_model_form.user %}
    {{ parsing_model_form.user.label }}{{ parsing_model_form.user() }}
    {% endif %}
    {{ parsing_model_form.model.label }}{{ parsing_model_form.model() }}
    <input type="submit" value="Compare">
</form>

{% if unparsed_queries %}
<div class="row">
    <p>There are {{ unparsed_queries }} unparsed queries.</p>
    <button id="parse-unparsed" data-model="{{ model }}">Parse now.</button>
</div>
{% endif %}

<div class="row container-vertical-flex">
    {% if model %}
    <p>Feedback with respect to parse by model <span class="model-name">{{ model }}</span></p>
    {% else %}
    <p>Feedback with respect to original parse</p>
    {% endif %}

    {% for piece in feedback %}
    <div class="row feedback-piece feedback-type-{{ piece.get_type(model=model) }}" data-opcodes="{{ piece.get_opcodes(model=model) }}">
        <p class="feedback-id">{{ piece.id }}</p>
        <p class="feedback-nl">{{ piece.nl }}</p>
        <p class="feedback-sys mrl">{{ piece.model_mrl if model else piece.original_mrl }}</p>
        <p class="feedback-corr mrl">{{ piece.correct_mrl }}</p>
        <p>{{ piece.model }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
