{% extends 'base.html' %}

{% set page = 'query' %}

{% block additional_head %}
{{ M.css('lib/ol/ol.css') }}
{{ M.js('lib/ol/ol.js') }}
{% endblock %}

{% block content %}

<div id="info-block"  class="row block">
    <div class="block-header">
        <span class="block-title">NLMaps Introduction</span>
    </div>
    <div class="block-body" hidden>
        <p>Issue geographical queries in plain English! Here are some examples:</p>
        <ul>
            <li>Is there any café in walking distance of Heiliggeistkirche in Heidelberg?</li>
            <li>How many playgrounds does Oxford have?</li>
            <li>What is the closest drinking water fountain from Musée du Louvre in Paris?</li>
            <li>pubs in northern Schwäbisch Hall</li>
            <li>Tell me the distance between Kremlin in Moscow and the Houses of Parliament in London!</li>
        </ul>

        <p>This project is a work in progress. Please note:
            <ul>
                <li>Use the correct full name of things including capitalization. E.g. “Musée du Louvre”, not “Louvre” and not even “musée du louvre”.</li>
                <li>The process is still a bit slow for some queries. Please have some patience.</li>
            </ul>
        </p>

        <p>Help improve this project by asking queries and correcting the corresponding query in the machine-readable language (MRL) that is produced. Don’t know what to ask for? Imagine you’re in one of the following situations. What might you want to know?
            <ul>
                <li>You’re planning a city trip (to Leipzig, for example). What do you need to know beforehand? What do you want to know once you’re there?</li>
                <li>You’re new in town and have to get some things done. E.g. send a letter, look for some kind of physician, find some place to play sports, etc.</li>
                <li>You’re researching about interesting recreational places in some town. Where can you have a barbecue, have a drink or play a sport?</li>
                <li>You’re making a map of important infrastructure for some area. What institutions should be on there?</li>
            </ul>
        </p>

        <p>Also take a look at <a href="{{ url_for('osm_tags') }}">this long
        list of tags in OpenStreetMap for some inspiration of what you can ask
        for.</a>.</p>
    </div>
</div>

<div id="nl-query-block" class="row block">
    <div class="block-header">
        <span class="block-title">Query</span>
    </div>
    <div class="block-body">
        <form id="nl-query-form" method="POST" action="/parse" class="row">
            {{ nl_query_form.hidden_tag() }}
            {{ nl_query_form.nl.label }} {{ nl_query_form.nl(size=100, autofocus=True) }}
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<div id="messages-block" class="row block" hidden>
    <div class="block-header">
        <span class="block-title">Log</span>
    </div>
    <div class="block-body">
        <ol id="messages" class="messages"></ol>
    </div>
</div>

<div id="mrl-info-block" class="row block" hidden>
    <div class="block-header">
        <span class="block-title">MRL Info</span>
    </div>
    <div class="block-body">
        <p id="mrl-info-model" hidden></p>
        <p id="mrl-info-nl"></p>
        <p id="mrl-info-lin" hidden></p>
        <p id="mrl-info-features"></p>
        <p id="mrl-info-mrl"></p>
        <div id="mrl-judgement" class="container-horizontal-flex" hidden>
            <button id="confirm-mrl" class="bg-success">That’s correct!</button>
            <button id="adjust-mrl" class="bg-warning">Adjust</button>
            <button id="reject-mrl" class="bg-danger">Wrong, but I cannot help</button>
        </div>
    </div>
</div>

<div id="mrl-edit-block" class="row block" hidden>
    <div class="block-header">
        <span class="block-title">MRL Edit</span>
    </div>
    <div class="block-body">
        <div id="mrl-edit-help-container">
            <div class="mrl-edit-help">
                <span class="mrl-edit-help-title">Area</span>
                <div id="mrl-edit-help-area"></div>
            </div>
            <div class="mrl-edit-help">
                <span class="mrl-edit-help-title">Similar Tags</span>
                <div id="mrl-edit-help-alternatives"></div>
            </div>
        </div>
        <div id="adjust-form-wrapper">
            <form id="query-features-form" class="bordered" method="POST" action="/geojson">
                {{ query_features_form.hidden_tag() }}
                {{ query_features_form.query_type.label }} {{ query_features_form.query_type }}
                <div class="container-horizontal-flex">
                    <fieldset class="bordered form-grid query-features-fieldset">
                        {{ query_features_form.target_nwr.label }} {{ query_features_form.target_nwr(size=40, hidden=True) }}
                        {{ query_features_form.center_nwr.label }} {{ query_features_form.center_nwr(size=40, hidden=True) }}
                        {{ query_features_form.area.label }} {{ query_features_form.area(size=40) }}
                        {{ query_features_form.maxdist.label }} {{ query_features_form.maxdist(size=40) }}
                        {{ query_features_form.around_topx.label }} {{ query_features_form.around_topx }}
                        {{ query_features_form.qtype.label }} {{ query_features_form.qtype }}
                        {{ query_features_form.cardinal_direction.label }} {{ query_features_form.cardinal_direction }}
                    </fieldset>
                    <fieldset id="second-features-fieldset" class="bordered form-grid query-features-fieldset">
                        {{ query_features_form.target_nwr_2.label }} {{ query_features_form.target_nwr_2(size=40, hidden=True) }}
                        {{ query_features_form.area_2.label }} {{ query_features_form.area_2(size=40) }}
                        {{ query_features_form.cardinal_direction_2.label }} {{ query_features_form.cardinal_direction_2 }}
                    </fieldset>
                </div>
                <input type="submit" value="Resubmit">
            </form>
            <form id="mrl-query-form" class="bordered" method="POST" action="/geojson" hidden>
                {{ mrl_query_form.hidden_tag() }}
                {{ mrl_query_form.mrl.label }} {{ mrl_query_form.mrl(size=100) }}
                <input type="submit" value="Resubmit">
            </form>
        </div>
        {% if current_user.is_authenticated and current_user.admin %}
        <button id="switch-adjust-form">Switch to MRL form</button>
        {% endif %}
    </div>
</div>

<div id="answer-block" class="row block" hidden>
    <div class="block-header">
        <span class="block-title">Answer</span>
    </div>
    <div class="block-body">
    </div>
</div>

<div id="map" class="map"></div>
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>

{% endblock %}
