{% extends 'base.html' %}

{% set page = 'terms_of_service' %}

{% block content %}
<div class="row block">
    <div class="block-header">
        <span class="block-title">Terms of Service</span>
    </div>
    <div class="block-body">
        {% set nlmaps_org = 'The NLMaps Web Operator' %}

        <p>These terms of service cover your use of the NLMaps Web service
        officially operated by Simon Will (henceforth referred to as “{{ nlmaps_org }}”).
        By using or accessing NLMaps Web in any way, viewing or browsing the
        site, especially by issuing queries and giving feedback to queries, you
        are agreeing to be bound by these Terms of Service. If you do not agree
        to these terms, you may not use this service.</p>

        <h3>1. Contributor Agreement</h3>

        <p>In order to build a database of natural language (NL) queries and
        their machine-readable language (MRL) form and in order to improve the
        NLMaps Web service, NLMaps Web offers you a way to contribute by giving
        feedback on the aptness or inaptness of an MRL query, which is done by
        clicking the button “That’s Correct!” or the button “Wrong, but I cannot
        help”.</p>

        <p>The feedback you contribute to NLMaps Web in this way consists of the
        NL query you issued. In the case of clicking “That’s Correct!”, it also
        consists of an MRL query, which you deem to accurately reflect the NL
        query. This feedback is henceforth referred to as your “Contributions”.</p>

        <p>If you are registered at NLMaps Web with an account, you have the
        option to opt into also contributing your NL queries as soon as you
        issue them in the query form. If you opt into this, these queries will
        also count as your “Contributions” in this agreement.</p>

        <h4>Rights Granted</h4>

        <p>You hereby grant to {{ nlmaps_org }} a worldwide, royalty-free,
        non-exclusive, perpetual, irrevocable license to do any act that is
        restricted by copyright, database right or any related right over
        anything within the Contributions, whether in the original medium or any
        other. These rights explicitly include commercial use, and do not
        exclude any field of endeavour. These rights include, without
        limitation, the right to sub-license the work through multiple tiers of
        sub-licensees and to sue for any copyright violation directly connected
        with {{ nlmaps_org }}’s rights under these terms. To the extent
        allowable under applicable local laws and copyright conventions, you
        also agree not to assert against
        {{ nlmaps_org }} or its licensees any moral rights that you may have in
        the Contributions.</p>

        <p>{{ nlmaps_org }} agrees that it may only use or sub-license your
        Contributions under the terms of the Creative Commons license
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>.</p>

        <p>At your option, {{ nlmaps_org }} agrees to attribute your
        Contributions to you. In order to exercise this option, you must create
        an account and opt into your Contributions being attributed to you. An
        attribution mechanism is provided, currently
        <a href="{{ url_for('contributors') }}"> a web page</a>.</p>

        <p>Except as set forth in this agreement, you reserve all right, title
        and interest in and to your Contributions.</p>

        <h3>2. Third Party Information</h3>

        <p>NLMaps Web provides access to content owned by third parties.
        In particular, it provides access to <a href="https://taginfo.openstreetmap.org/">OpenStreetMap</a>
        data (such as map tiles and objects on it)
        and metadata (such as data from <a href="https://taginfo.openstreetmap.org/">Taginfo</a>).
        NLMaps Web does not assume any ownership of or responsibility for this
        content, nor does NLMaps Web assume any liability for the accuracy or
        usefulness of the content. This content is for informational purposes
        only.</p>

        <h3>3. Links to Third Party Websites</h3>

        <p>NLMaps Web contains links to third party websites that are not owned
        or controlled by us. As a result, we do not assume any responsibility
        for the content and general practices of these websites.</p>

        <h3>4. Termination of Access</h3>

        <p>We reserve the right to terminate your access to the site without any
        advance notice.</p>

        <h3>5. Additional Terms for Users with an Account</h3>

        <p>This section covers additional terms that are valid for users who
        have registered for an account with NLMaps Web.</p>

        <h4>User Data</h4>

        <p>We collect the following data in association with your account. None
        of this data is shared with any third parties and is only used for
        providing our services.</p>

        <ul>
            <li>Your username</li>
            <li>Your email address</li>
            <li>The date and time when your account was created</li>
            <li>A hash of your password along with a salt used in combination
            with it</li>
            <li>The number of tutorial chapters you have finished</li>
        </ul>

        <p>Additionally, we collect your Contributions under the terms of the
        Contributor Agreement above. These contributions are associated with
        your account as long as your account exists.</p>

        <p>You guarantee that the email address you provide for using our
        service is controlled by you and you have the right to use it for
        registering for an account at NLMaps Web.</p>

        <h4>Account Termination</h4>

        <p>You can terminate your account at any time. In this case, all data
        associated with the account is deleted with the exception of your
        Contributions. Your Contributions are instead deassociated with the
        account.</p>

        <p>We reserve the right to terminate your account at any time without
        any advance notice and without giving a reason.</p>

        <h3>Changes to this Agreement</h3>

        <p>We reserve the right to modify these Terms of Service at any time. We
        do so by posting and drawing attention to the updated terms on the site.
        Your decision to continue to visit and make use of the site after such
        changes have been made constitutes your formal acceptance of the new
        Terms of Service.</p>

        <p>Therefore, we ask that you check and review this agreement for such
        changes on an occasional basis. Should you not agree to any provision of
        this agreement or any changes we make to this agreement, we ask and
        advise that you do not use or continue to access NLMaps Web site
        immediately.</p>

        <h3>6. Contact</h3>

        <p>If you have any questions about this agreement, please contact us at
        nlmapsweb@nlmaps.gorgor.de. </p>
    </div>
</div>
{% endblock %}
