{% extends 'base.html' %}

{% set page = 'validations' %}

{% block content %}

{% if validations|length == 0 %}
<div class="row block">
    <div class="block-header">
        <span class="block-title">No Evaluation Results</span>
    </div>
    <div class="block-body">
        <p>No evaluation results are saved on the Machine Translation server.</p>
    </div>
</div>
{% endif %}

{% if base64_jpg %}
<div class="row block">
    <div class="block-header">
        <span class="block-title">Evaluation Results Plot</span>
    </div>
    <div class="block-body">
        <img src="data:image/jpg;base64,{{ base64_jpg }}">
    </div>
</div>
{% endif %}

<div class="row block">
    <div class="block-header">
        <span class="block-title">Evaluation Results Table</span>
    </div>
    <div class="block-body">
        <table class="pretty-table">
            <thead>
                <tr>
                    <th>Creation Time</th>
                    <th>Label</th>
                    <th>Correct</th>
                    <th>Total</th>
                    <th>Accuracy</th>
                </tr>
            </thead>
            <tbody>
                {% for val in validations %}
                <tr>
                    <td>{{ val.created.isoformat(timespec='seconds') }}</td>
                    <td><a href="{{ url_for('validations', label=val.label) }}">{{ val.label }}</a></td>
                    <td>{{ val.correct }}</td>
                    <td>{{ val.total }}</td>
                    <td>{{ '{:.3f}'.format(val.accuracy) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
